
.animationFrame{
    width: 100%;
    height: 100%;

}

/* Style for all avatars*/

.avatar{
    display: flex;
    border: 3px solid black; /* Optional: for visual reference */
    position: relative; /* Ensure proper positioning of children */
    align-items: center;

}
