
.animationFrame{

}
/* Style for all avatars*/

.avatar{
    height: 100%;
    display: flex;
    align-items: left;
    box-sizing: border-box;
}

.avatar_1_frame_0{
    display: block;
}

.avatar_2_frame_0{
    display: block;
}

.avatar_3_frame_0{
    display: block;
}