.animationFrame{
    position: absolute;
    width: 100%; 
}

/* Style for all avatars*/

.avatar{
}


#avatarParent_1{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_2{
    grid-row: 17/21;
    grid-column: 3/9;
}
#avatarParent_3{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_4{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_5{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_6{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_7{
    grid-row: 17/21;
    grid-column: 3/9;
}




