* {
  box-sizing: border-box;
}

:root{
  --Buttoncolor-yellow-color: #fce5ae;
  --Buttoncolor-red-color: #f77d80;
  --Buttoncolor-blue-color: #d4dfec;
}

html, body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.screenRoot {
  margin: 0 auto; /* Center the container */
  /* Was developped with 100vh, might needs adjustman */
  height: 102vh;
  width: 102vw;
  flex-direction: row;
  align-items: center;
}

/* This contaier will be resized*/

.appRoot {
  height: 1920px;
  width: 1080px;
  transform-origin: top left; /* Ensure scaling starts from the top-left corner */
  margin: 0 auto;
  overflow: hidden;
  font-size: 70px;
}

.worldBackground {
  background-image: url("../ImageResources/Worlds/world_01/World_sea.png"); /* Ensure path is correct */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100%;
  font-size: 1em;
}

.toolbarBasics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  font-size: 1em;
}

.navigationToolbar {
  background-color: rgb(0, 0, 0,0.3);
  height: 12%;
}

.displayToolbar {
  background-color: rgb(0, 0, 0, 0.3);
}

.settingToolbar {
  background-color: rgb(0, 0, 0, 0.2);
}

.centerContent{
  background-image: url("../AvatarResources/Import/Crakuma_01/frame_1.png");
  background-size: contain; /* Scales down the image to fit within the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 72%
}

.displayCurrentLevel {
  font-family: 'Indie Flower', cursive; /* Correct fallback */
  font-size: 1em;
}



.button{
  height: 100%;
  border-radius: 20px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.displayToolbarButton{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: 110px;
  background-color: var(--Buttoncolor-yellow-color);
}


.levelDisplay{
  font-size: 1em;
  margin-right: 100px;
  background-color: var();
}

/* Hack to disable on hover*/
.levelDisplay:hover {
  background-color: var(--Buttoncolor-yellow-color);
}

.achievedLevelButton{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 0.5em;
}

/* Individual button styles */
  .settingButton{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  height: 100px;
  width: 110px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-image: url("../ImageResources/Buttons/SettingsButtonCropped.png");
  background-size: contain; /* Scales down the image to fit within the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.helpButton{
  height: 100px;
  width: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  font-size: 1em;
}

.navigationToolbarButton{
  height: 130px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.3em;
}

.wordButton{
  margin-left: 120px;
  font-size: 0.3em;
  background-color: var(--Buttoncolor-red-color);
}

.statsButton{
  margin-right: 120px;
  font-size: 0.3em;
  background-color: var(--Buttoncolor-red-color);
}