.worldBackground{
    background-image: url("/ImageResources/Backgrounds/worlds/regions/map.png");
}


/* Id is for the parent */
#avatarParent_1{
    grid-row: 5/9;
    grid-column: 3/10;
}

#avatarParent_2{
    grid-row: 30/44;
    grid-column: 5/9;
}

#avatarParent_3{
    grid-row: 5/6;
    grid-column: 7/8;
}

#avatarParent_4{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_5{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_6{
    grid-row: 17/21;
    grid-column: 3/9;
}

#avatarParent_7{
    grid-row: 25/30;
    grid-column: 14/20;
}

/* class is for the children */
.avatarParent_1{

}

