.worldBackground{
    background-image: url("../../ImageResources/Backgrounds/worlds/regions/regionG.png");
}

.avaParent_0{
    grid-row:13/20;
    grid-column: 15/20;
}

.avaParent_1{
    grid-row:22/29;
    grid-column: 3/10;
}

.avaParent_2{
    grid-row: 29/35;
    grid-column: 16/23;
}

.avaParent_3{
    grid-row: 34/43;
    grid-column: 2/14;
}

.avaParent_4{
    grid-row: 33/38;
    grid-column: 10/15;
}

.avaParent_5{
    grid-row: 22/28;
    grid-column: 20/23;
}

.avaParent_6{
    grid-row: 35/42;
    grid-column: 19/22;
}

.avaParent_7{
    grid-row: 12/19;
    grid-column: 4/10;
}
