.worldBackground{
    background-image: url("../../ImageResources/Backgrounds/worlds/regions/regionE.png");
}

.avaParent_0{
    grid-row: 21/26;
    grid-column: 12/17;
}

.avaParent_1{
    grid-row:33/41;
    grid-column: 17/25;
}

.avaParent_2{
    grid-row: 13/18;
    grid-column: 6/23;
}

.avaParent_3{
    grid-row: 27/40;
    grid-column: 2/26;
}

.avaParent_4{
    grid-row: 23/37;
    grid-column: 19/24;
}

.avaParent_5{
    grid-row: 22/26;
    grid-column: 2/19;
}

.avaParent_6{
    grid-row: 24/35;
    grid-column: 8/18;
}

.avaParent_7{
    grid-row: 13/24;
    grid-column: 21/26;
}