
.statsPageDefault{
    border-color: #212121;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    background-color: #D4DFEC;
    width: 100%;
    height: 100%;
}

.fachDescriptionBox{
    grid-row:12/14;
    grid-column: 3/10;
    background-color: #D4DFEC;
}

.scaleScale{
    grid-row:12/14;
    grid-column: 12/25;
    background-color: #D4DFEC;
}

.grundlagenDescriptionBox{
    grid-row:17/19;
    grid-column: 3/10;
}

.grundlagenScale{
    grid-row:17/19;
    grid-column: 12/25;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 0px 0px;
}

.worldBackground{
    background: #00000000;
}

.displayBarGeneral{
    background-color: #f77d80;
    width: 100%;
    height: 100%;
}